body{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
    background: url("assets/wallp.jpg") no-repeat center center/cover;
    background-attachment: fixed;
}

@font-face {
    font-family: "Agramon";
    src: url("assets/font/Another\ Danger\ -\ Demo.otf");
}

header {
    color: rgb(173, 173, 173);
    text-align: center;
    padding: 25px;
    background: rgba(0, 0, 0, 0.8);
    font-family: "Agramon";
}

header h1:hover{
    color: black;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

section {
    margin-left: 50px;
    color: white;
}

section .apartado {
    margin: 30px 0px;
}

img {
    margin: 0px 15px;
    height: 500px;
    width: 450px;
    float: right;
    border-radius: 20px;
}

img:hover {
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(255,255,255,0);
}

section .apartado > ul ,section .apartado p {
    font-size: 0.9rem;
}

section .apartado table {
    border-collapse: separate;
    empty-cells: hide;
}

section .apartado table td, section .apartado table th {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    text-align: center;
}